// // ----- Fonts
@font-face {
  font-family: "SofiaProExtraLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/sofiapro/SofiaProExtraLight.eot");
  src: url("../fonts/sofiapro/SofiaProExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/sofiapro/SofiaProExtraLight.woff2") format("woff2"),
    url("../fonts/sofiapro/SofiaProExtraLight.woff") format("woff"),
    url("../fonts/sofiapro/SofiaProExtraLight.ttf") format("truetype"),
    url("../fonts/sofiapro/SofiaProExtraLight.svg#wf") format("svg");
}

@font-face {
  font-family: "SofiaProLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/sofiapro/SofiaProLight.eot");
  src: url("../fonts/sofiapro/SofiaProLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/sofiapro/SofiaProLight.woff2") format("woff2"),
    url("../fonts/sofiapro/SofiaProLight.woff") format("woff"),
    url("../fonts/sofiapro/SofiaProLight.ttf") format("truetype"),
    url("../fonts/sofiapro/SofiaProLight.svg#wf") format("svg");
}

@font-face {
  font-family: "SofiaProRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/sofiapro/SofiaProRegular.eot");
  src: url("../fonts/sofiapro/SofiaProRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/sofiapro/SofiaProRegular.woff2") format("woff2"),
    url("../fonts/sofiapro/SofiaProRegular.woff") format("woff"),
    url("../fonts/sofiapro/SofiaProRegular.ttf") format("truetype"),
    url("../fonts/sofiapro/SofiaProRegular.svg#wf") format("svg");
}

@font-face {
  font-family: "SofiaProMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/sofiapro/SofiaProMedium.eot");
  src: url("../fonts/sofiapro/SofiaProMedium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/sofiapro/SofiaProMedium.woff2") format("woff2"),
    url("../fonts/sofiapro/SofiaProMedium.woff") format("woff"),
    url("../fonts/sofiapro/SofiaProMedium.ttf") format("truetype"),
    url("../fonts/sofiapro/SofiaProMedium.svg#wf") format("svg");
}

@font-face {
  font-family: "SofiaProSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/sofiapro/SofiaProSemiBold.eot");
  src: url("../fonts/sofiapro/SofiaProSemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/sofiapro/SofiaProSemiBold.woff2") format("woff2"),
    url("../fonts/sofiapro/SofiaProSemiBold.woff") format("woff"),
    url("../fonts/sofiapro/SofiaProSemiBold.ttf") format("truetype"),
    url("../fonts/sofiapro/SofiaProSemiBold.svg#wf") format("svg");
}

@font-face {
  font-family: "SofiaPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/sofiapro/SofiaProBold.eot");
  src: url("../fonts/sofiapro/SofiaProBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/sofiapro/SofiaProBold.woff2") format("woff2"),
    url("../fonts/sofiapro/SofiaProBold.woff") format("woff"),
    url("../fonts/sofiapro/SofiaProBold.ttf") format("truetype"),
    url("../fonts/sofiapro/SofiaProBold.svg#wf") format("svg");
}
