* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font-sans-serif;
    color: #000000;
}

.outer {
    .inner {
        padding: 0 $gutter-width;
        &--narrow {
            padding: calc(2*#{$gutter-width});
        }
        &--hero {
            padding: 0 $gutter-width;
        }
    }
}

.flex {
    display: flex;
}

.align-center {
    &--vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.overflow-hidden {
    overflow: hidden;
}
